
  
  .filter-btn{
    /* background: #3d93b9; */
    /* color: #fff; */
    padding: 8px 10px;
    text-transform: uppercase;
    border:2px solid #3d93b9;
    /* font-size: 17px; */
    color: #3d93b9;
    border-radius: 10px; 
  }
  
  .filter-btn:hover {
    background: #3d93b9;
    color: white;
    cursor: pointer;
  }

  .filter-btn-active{
    padding: 8px 10px;
    text-transform: uppercase;
    border:2px solid #3d93b9;
    /* font-size: 17px; */
    color: white;
    background:#3d93b9;
    border-radius: 10px; 
  }
  
  .galleryItem img {
    border-radius: 15px;
  }

  #filterable-cards .card {
    width: 15rem;
    border: 2px solid transparent;
  }
  #filterable-cards .card.hide {
    display: none;
  }
  @media (max-width: 600px) {
    #filterable-cards {
      justify-content: center;
    }
    #filterable-cards .card {
      width: calc(100% / 2 - 10px);
    }
  }