
  
  .filter-btn{
    /* background: #3867d6; */
    /* color: #fff; */
    padding: 8px 10px;
    text-transform: uppercase;
    border:2px solid #3867d6;
    /* font-size: 17px; */
    color: #3867d6;
    border-radius: 10px; 
    font-size: 1.5rem;
  }
  
  .filter-btn:hover {
    background: #3867d6;
    color: white;
    cursor: pointer;
  }

  .filter-btn-active{
    padding: 8px 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    border:2px solid #3867d6;
    /* font-size: 17px; */
    color: white;
    background:#3867d6;
    border-radius: 10px; 
  }
  
  .galleryItem img {
    border-radius: 15px;
  }

  #filterable-cards .card {
    width: 15rem;
    border: 2px solid transparent;
  }
  #filterable-cards .card.hide {
    display: none;
  }
  @media (max-width: 600px) {
    #filterable-cards {
      justify-content: center;
    }
    #filterable-cards .card {
      width: calc(100% / 2 - 10px);
    }
  }


  .admin-heading {
    text-align: center;
    padding-bottom: 2rem;
    color: red;
    text-transform: uppercase;
    align-items: center;
    /* font-size: 4rem; */
  }
  
  .admin-heading span {
    color: var(--theme-color);
    text-transform: uppercase;
  }

  .event-card{
    font-size: 5.5rem;
  }